		@font-face {
			font-family: JosefinSans;
			src: url('../fonts/Josefin_Sans/JosefinSans-Thin.ttf');
		} 

		body {
			font-family: "JosefinSans", sans-serif;
			text-align: center;
			font-size: 50px;
			color: #AAA;
		}

		h1 {
			margin: 0;
		}
		h3 {
			margin: 0;
		}

		.centered {
			width: 100%;
			position: fixed; /* or absolute */
			top: 50%;
			left: 50%;
			/* bring your own prefixes */
			transform: translate(-50%, -50%);
		}